.pieID {
  display: inline-block;
  vertical-align: top;
}
.legend {
  list-style-type: none;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 15px;
}
.legend li {
  list-style-type: none;
  width: 200px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
}
.legend em {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
.legend span {
  float: right;
}
